<!-- 多说评论框 start -->
<div class='ds-thread' data-thread-key='{{ page.url }}' data-title='{{ page.title }}' data-url='http://whaozl.github.io/{{ page.url }}'>
</div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"whaozl"};
/*
$(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
*/

 /*多说pjax*/
	var duoshuoQuery = {short_name:"whaozl"};
	function pjax_loadDuoshuo(){
		var dus=$(".ds-thread");
		if($(dus).length==1){
			var el = document.createElement('div');
			el.setAttribute('data-thread-key',$(dus).attr("data-thread-key"));//必选参数
			el.setAttribute('data-url',$(dus).attr("data-url"));
			el.setAttribute('data-title',$(dus).attr("data-title"));
			if (typeof DUOSHUO !== 'undefined'){
				$.getScript("//static.duoshuo.com/embed.js");
			}
			DUOSHUO.EmbedThread(el);
			$(dus).html(el);
		}
	}
  /*自己添加部分 pjax加载完加载多说*/
  $(document).on("pjax:complete",function(){
  	pjax_loadDuoshuo();
  })
</script>
<!-- 多说公共JS代码 end -->
