<meta charset="utf-8">
<title>{{ page.titlename }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.favicon }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/css/bootstrap.css">
<link rel="stylesheet" href="/public/css/font-awesome.css">
<link rel="stylesheet" href="/public/js/prettify/prettify.css">
<link rel="stylesheet" href="/public/css/base.css">

<link rel="stylesheet" href="/public/css/perfect-scrollbar-0.4.10.min.css">

<link href="/pages/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">

<!--支持百度统计------------------------>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?466bc459be5dfc84e34f266b963f38d5";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!--MathJax支持Latex------------------------>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
tex2jax: {
  inlineMath: [['$','$'], ['\\(','\\)']],
  processEscapes: true
  }/*,
displayAlign : "left",
TeX: {
        equationNumbers: {
            autoNumber: "all",
            useLabelIds: true
        }
    },
    "HTML-CSS": {
        linebreaks: {
            automatic: true
        },
        scale: 100,
        styles: {
          ".MathJax_Display": {
            "text-align": "center !important",
            "width" : "auto",
            "margin": "10px 0px 10px 0px !important",
            "background-color": "#FFF !important",
            "border-radius": "3px !important",
            border:  "1px solid #ccc !important",
            padding: "5px 5px 5px 5px !important"
          },
          ".MathJax": {
            "background-color": "#FFF !important",
            padding: "2px 2px 2px 2px !important"
          }
        }
    },
    SVG: {
        linebreaks: {
            automatic: true
        }
    }*/
});
</script>

<!--latex数学显示公式-->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!--博客访问量统计工具不蒜子-->
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!--博客访问量统计工具Hit Kounter
<script src="/public/js/av-mini-0.6.10.js"></script>
<script src="/public/js/hit-kounter-lc-0.2.0.js"></script> -->
